.main{
    width: 70%;
    height:650px;
    margin: auto;
    /* text-align: center; */


}
.banner{
    width: 100%;
    height: 65%;
    position: relative;
}
.banner img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
    clip-path: polygon(0% 0%, 100% 0, 100% 83%, 50% 99%, 0 82%);
    
    }
   .logo{
        position: absolute;
        color: white;
        border: 1px solid white;
        padding: 4px;
        font-size: 25px;
        /* margin: 2px 4px; */
        top: 10%;
        left: 20%;
    }
    .logo span{
        background-color: white;
        color: black;
        padding: 3px 7px;
     }
     .header{
        position: absolute;
        color: white;
        font-size: 12px;
        top: 10%;
        right: 10%;
     }
     .header ul li{
        list-style: none;
        display: inline;
        padding: 0px 10px;
     }
     .home{
        color: orangered;
        border-bottom: 2px solid orangered;
     }
     .text-1{
        position: absolute;
        color: white;
        font-size: 18px;
        top: 25%;
        text-align: center;
        left: 38%;
        word-spacing: 5px;
     }
     .text-2{
        position: absolute;
        color: white;
        word-spacing: 5px;
        letter-spacing: 3px;
        font-size: 40px;
        font-weight:700;
        top: 35%;
        left: 32%;
     }
     .text-3{
        position: absolute;
        width: 28%;
        /* height: 50px; */
        /* border: 1px solid white; */
        color: white;
        top:48%;
        font-size: 12px;
        left: 38%;
     }
     .button{
        position: absolute;
        width: 100%;
        /* border: 3px solid; */
        bottom: 30%;
     }
     .button .b-1{
        position: absolute;
        padding: 5px 15px;
        font-size: 14px;
        left: 35%;
        background-color: orangered;
        border: none;
        color: white;
     }
     .button .b-2{
        padding: 5px 38px;
        position: absolute;
        background: transparent;
        border: 1px solid white;
        color: white;
        left: 54%;
     }
     .icon{
        position: absolute;
        top:50%;
        width: 100%;


    }
     .i-1{
        position: absolute;
        background-color: lightgray;
        left: 10%;
        filter: brightness(40%);
        padding: 2px 6px;
        border:none;
     }
     .i-2{
        position: absolute;
        background-color: orangered;
        padding: 2px 6px;
        border:none;
        left: 90%;
       }
       .middle{
        /* position: absolute; */
        border: 3px solid;
      
       }
       .middle i{
        position: absolute;
        color: orangered;
        background-color: white;
        border-radius: 50%;
        padding: 3px 7px;
        top: 95%;
        left:50%;
       }
       .flexbox{
        width: 80%;
        height: 200px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
       }
       .box{
        width: 21%;
        height: auto;
        text-align: center;
        margin-top: 10px;

       }
       .box i{
        color:orangered;

       }
        
       .b1 i{
        border: 1px solid ;
        padding: 10px 15px;
        border-radius: 50%;
        
           }
           .b1 p{
            color: orangered;
           }
           .b2 i{
        border: 1px solid ;
        padding: 10px 15px;
        border-radius: 50%;
           }
           .b3 i{
        border: 1px solid ;
        padding: 10px 15px;
        border-radius: 50%;
           }
           .b4 i{
        border: 1px solid ;
        padding: 10px 15px;
        border-radius: 50%;
           }
