.main{
    width: 100%;
    height: auto;
    /* border: 5px dotted white; */
    background: rgb(86, 86, 86);
    color: white;
}
 .main .header{
    width:100%;
    height: 15vh;
    background-color: rgb(86, 86, 86);
    box-shadow: 2px 3px 1px rgb(86, 86, 86);
}
 .header .subheader{
    width: 48%;
    height: inherit;
    float: left;
    margin: 0px 7px;
    color: white;
 }
 .subheader .s-1 {
    height: auto;
    /* border: 1px solid blue;    */
 }
 .s-1 h1{
    font-size: 40px;
 }
 .s-1 p{
    font-size: 20px;
 }
 .subheader .s-2{
    text-align: right;
    margin-top: 20px;
    line-height: 2;

 }
 .subheader .s-2 span{
    word-spacing: 25px;
 }
 .subheader.s-2 label{
    font-size: 20px;
 }
.s-2 input{
    width: 50%;
    height: 30px;
    background:#454545;
    border: none;
 }
.nav{
    width: 100%;
    height: auto;
    word-spacing: 60px;
    padding: 0.5% 0%; 
    /* line-height: 1; */
    text-align: center;
    background:#070707;

 }
 .nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    /* margin-top: 10px; */
 }

.main .title{
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 3px 3px 3px black;
}
.main .menu{
    display: none;
}
.main .menu #sublist li a:hover{
    color :#0797f8; 
    text-decoration: underline;
}
.container{
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
}
.container .box{
    width: 28%;
    height: 230px;
    border: 2px dashed lightblue;
    float: left;
    margin: 18px;
    border-radius: 30px;
    text-align: center;
    }
    .container .box:hover{
        background: #868e9c;
    }
.container .box b{
    font-size: 35px;
    color:#0797f8;
    /* text-shadow: none; */
}
.container .box p{
    font-size: 20px;
}
 .main .text{
    text-align: right;
    font-size: 40px;
 }
 .second{
    width: 100%;
    height: 92vh;
    /* border: 1px solid brown; */
    background: #3d3d3d;
}
.side{
    width: 100%;
    height: 500px;
    /* border: 1px solid; */
    float: left;
    margin: 0px 3px;
}
 .b-1{
    width: 44%;
}
  .b-2{
    width: 53%;
}
 .b-1 span{
    color: white;
    font-size: 18px;
}
.b-1 .image{
    width: 100%;
    height: 25%;
}
.image .imagebox{
    width: 100%;
    height: 100%;
    /* border: 2px dotted blue; */
    float: left;
    margin: 0px 2px;
}
 .imagebox.i1{
    width: 30%;
}
.imagebox.i2{
    width: 68%;
}
.imagebox.i1 img{
    width: 100%;
    height: 100%;
}
.b-2 span{
    color: white;
    font-size: 18px;
}
.b-2 .text{
    width: 100%;
    height: 16%;
    /* border: 1px dotted; */
}
.b-2 .text p{
    font-size: 14px;
}
footer{
    width: 100%;
    height: 9vh;
    /* border: 2px dotted; */
    /* display: flex; */
}
footer .f-1{
    font-size: 20px;
}
footer .f-2{
    text-align: right;
    font-size: 20px;
}
