u{
    font-size: 22px;
}
.detail{
    font-size: 20px;
    line-height: 2;
}
.detail span{
    color: blue;
    font-weight: 600;
}
.detail pre{
    background-color: skyblue;
    line-height: 1;
}