u{
    font-size: 22px;
}
.detail{
    font-size: 20px;
}
.detail h3{
    color: blue;
}
.detail h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}
.detail span{
    color: seagreen;
    font-weight: 700;
}
.detail .example{
    background-color:skyblue;
}