.main {
    width: 90%;
    height: 700px;
    border: 2px solid;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.main img {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(0.3);
}

.main svg {
    position: absolute;
    bottom: 130px;
    /* z-index: 1; */
}

.box {
    width: 100%;
    height: 150px;
    background-color: rgb(137, 77, 73);
    filter: opacity(0.9);
    position: absolute;
    bottom: 0;
}

.text {
    position: absolute;
    color: white;
}

.text h1 {
    margin-top: 60px;
    margin-left: 530px;
}

.text p {
    margin-left: 450px;
}

.text .image {
    position: absolute;
    width: 70px;
    height: 60px;
    border: 1px;
}

.text .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: brightness(0.9) !important;
}

.text .i-1 {
    left: 140px;
    top: 440px;
}

.text .i-2 {
    height: 90px;
    width: 80px;
    left: 380px;
    top: 350px;
}

.text .i-2 img {
    border: 3px solid orangered;
}

.text .i-2 h1 {
    position: absolute;
    top: 90px;
    right: -50px;
    /* border: 1px solid; */
    width: 180px;
    height: auto;
    font-size: 22px;
    color: orangered;
}

.text .i-2 span {
    position: absolute;
    top: 180px;
    right: -70px;
    width: 180px;
    height: auto;
    font-size: 18px;
}

.text .i-3 {
    top: 340px;
    left: 630px;
}

.text .i-4 {
    top: 360px;
    left: 850px;
}

.text .i-5 {
    top: 380px;
    left: 1060px;
}