h3{
    font-size: 30px;
  }
  big{
    font-size: 25px;
  }
  div{
    font-size: 22px;
    }
    p{
        width: 500px;
        height: 250px;
        background-color: lightseagreen;

    }