@media(min-width:300px) and (max-width:600px){
    .series{
        height: 170vh !important;
    }
    .megazzine{
        height: 158vh !important;
    }
    .series-1{
        width: 80% !important;
        margin-bottom: 3%;
        margin-left: 10% !important;
        height: 50vh;
    }
}
@media (min-width:600px) and (max-width:1100px){
    .series{
        width:100% !important;
        height:170vh
    }
    .megazzine{
        height: 158vh !important;
    }
    .series-1{
        width:60% !important;
        margin-bottom: 3%;
        margin-left: 20% !important;
        height: 50vh;

    }
}