body{
    background: rgb(86, 86, 86);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* artical-box */
.box{
    height: 40vh;
}
.box .b-1{
    height: inherit;
    width: 30%;
    margin: 0% 1%;
    border: 2px dashed lightblue;
    border-radius: 30px;
}
 .box .b-1:hover{
    background: black;
    filter: brightness(0.8);
    transform: scale(1.05);
}
.box .b-1 b{
    color:#0797f8;
}



