@media(min-width:650px) and (max-width:1100px) {
    .main {
        width: 98%;
    }

    .name {
        font-size: 43px;
    }

    .deatil {
        width: 100%;
        font-size: 28px;
    }
  .image{
    width: 96%;
}
    .info{
        width: 60%;
    }
    .info h3{
        font-size: 30px;
    }
    .info p{
        margin-top: 3%;
        padding-left: 0%;
    }
    .info .icon{
        font-size: 30px;
        margin-top: 2%;
    } 
}
@media(max-width:650px){
    
    .main {
        width: 98%;
    }
    .name {
        font-size: 40px;
    }

    .main .fa-solid{
        margin-top: 3.5%;
    }
    .com-1 span{
        font-size: 30px;
    }
 .image{
    width: 90%;
}
    .info{
        width: 80%;
        height: 40vh;
    }
    .info h3{
        font-size: 30px;
    }
    .info p{
        margin-top: 3%;
        padding-left: 0%;
    }
    .info .icon{
        font-size: 40px;
        margin-top: 2%;
    } 


}