@media (max-width:600px) and (min-width:400px)
{ *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .main{
        width: auto !important;
        height: auto;
    }
    .header{
        display: none;
    }
    .main .nav{
        display: none;
    }
    .main .menu{
        width: auto;
        display: block;
        
    }
    .main .menu i{
        color:white;
        /* border: 3px solid red; */
        margin: 0px 15px;
        font-size: 40px;
    }
    .main .menu #sublist{
        display: none;

    }
    .main .menu #sublist li{
        list-style: none;

    }
    .main .menu #sublist li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        /* border-bottom: 2px solid; */
        line-height: 2;
    }

    .main .date{
        font-size: 16px !important;
    }
    .main .title{
        font-size: 70px !important;
    }
    .main .container{
        width: auto !important;
        /* border: 3px solid; */
        height: 110vh;
    }
    .container .box{
        width:inherit !important;
        height: 30vh !important;
    }
    .second{
        /* margin-top: 55%; */
        width: 98%;
        height:153vh;
    }
   .b-1{
    width: 100%;
}
.b-2{
    width: 100%;
}
footer{
    height: 10vh;
}
}


@media (max-width:1200px) and (min-width:600px)

{
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        /* outline: 2px solid; */
    }
    .main{
    width: auto !important;
    height: auto !important;
}
.header{
    width: 80%;
    height: 26vh !important;
    margin: auto;
    /* border: 2px solid red; */
}
.header .subheader{
    width: 98%;
    height: 11vh;
}
.main .nav{
    width: 100%;
    word-spacing: 20px;
}
.main .nav a{
    font-size: 20px ;
}
.main .title{
    font-size: 85px ;
}
.main .container{
    width: auto !important;
    margin: auto !important;
    /* border: 5px solid; */
    height: 50vh;

}
.container .box{
    width:28%;
    height:44vh;
    margin: 0% 2.5% !important;
}
.container .box b{
    font-size: 30px;
}
.container .box p{
    font-size: 16px !important;
}
.second {
    width: 80%;
    height: 140vh;
    margin: auto;
}
.second .side{
    width: 100%;
}

footer{
    width: 80%;
    margin: auto;
    height: 10vh;
}


}