@media (max-width:600px) and (min-width:400px)
{
    .main{
        width: auto !important;
        height: auto !important;
    }
    .main h1{
        font-size: 22px !important;
        /* text-align: left !important; */
    }
    .main .nav{
        display: none;
    }
    .main .menu{
        display: block;
    }
    .main .menu i{
        margin: 0px 15px;
        font-size: 40px;
    }
    .main .menu #sublist{
        display: none;

    }
    .main .menu #sublist li{
        list-style: none;

    }
    .main .menu #sublist li a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        /* border-bottom: 2px solid; */
        line-height: 2;
    }

    .main .date{
        font-size: 16px !important;
    }
    .main .title{
        font-size: 70px !important;
    }
    .main .container{
        width: auto !important;
    }
    .container .box{
        width:inherit !important;
        height: 150px !important;
    }
}


@media (max-width:1200px) and (min-width:600px)
{.main{
    width: auto !important;
    height: 850px !important;
}
.main h1{
    font-size: 24px !important;
    /* text-align: left !important; */
}
.main .nav{
    width: 100%;
    word-spacing: 10px;
    margin:0px 7px;
}
.main .date{
    font-size: 18px !important;
}
.main .title{
    font-size: 90px !important;
}
.main .container{
    width: auto !important;
    margin: auto !important;

}
.container .box{
    width:30%!important;
    height: 230px !important;
    margin: 0px 2px !important;
}

}