@media (max-width:600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* outline: 2px solid yellow; */
    }

    .header {
        width: 98%;
        height: 18vh;
    }

    .header .subheader {
        width: 99%;
        height: 10vh;
    }

    .subheader .s-2 {
        margin-right: 20px;
        display: none;
    }

    .nav {
        display: none;
    }

    .main {
        width: auto;
    }

    .main p {
        font-size: 25px;
    }

    .main .menu {
        width: auto;
        display: block;
        color: black;
    }

    .main .menu i {
        margin: 0px 15px;
        font-size: 40px;
    }

    .main .menu #sublist {
        display: none;

    }

    .main .menu #sublist li {
        list-style: none;
    }

    .main .menu #sublist li a {
        text-decoration: none;
        color: black;
        font-size: 25px;
        /* border-bottom: 2px solid; */
        line-height: 2;
    }

    .fam-pic .image {
        width: 98%;
        /* border: 5px dashed; */
    }

    .events span {
        font-size: 35px;
        padding: 0.5% 2.2%;
        bottom: 0%;
        z-index: 1;
    }

    .events .back {
        left: 22%;
    }

    .events .forword {
        right: 22%;
    }

    .events .image {
        width: 99%;
        margin: 0;
        left: 0%;
    }
    .main .series {
        height: auto;
    }
    .main .series h2{
        font-size: 35px;
    }

    .series .megazzine {
        flex-direction: column;
    }

    .series .mega {
        width: 70%;
        margin: auto;
        margin-bottom: 4%;
    }

    .second {
        width: 98%;
        height: 160vh;
    }

    .b-1 {
        width: 100%;
    }

    .b-2 {
        width: 100%;
    }

    .second p {
        font-size: 16px;
    }

    footer {
        height: 10vh;
    }
}

@media(min-width:600px) and (max-width:1000px) {
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        /* outline: 2px solid; */
    }
    .main {
        /* border: 4px dotted darkblue; */
        width: auto;
        height: 430vh;
    }
    .header{
        width: 80%;
        height: 25vh !important;
        margin: auto;
        /* border: 2px solid red; */
    }
    .header .subheader{
        width: 98%;
        height: 11vh;
    }
    .main .nav{
        width: 100%;
        word-spacing: 20px;
    }
    .main .nav a{
        font-size: 18px ;
    }  
    .fam-pic .image {
        width: 97%;
    }

    .events .back {
        left: 1%;
    }

    .events .forword {
        right: 1%;
    }

    .events .image {
        width: 86%;
        left: 7%;
    }
    .series{
        height: 175vh !important;
    }

    .series .megazzine {
        flex-direction: column;
        height: auto;
        /* border: 2px solid blue; */
    }

    .series .mega {
        width: 50%;
        margin: auto;
        margin-bottom: 4%;
    }
    .second {
        width: 81%;
        height: 165vh;
        margin: auto;
    }
    .second .side{
        width: 100%;
    }
    .second .side .b-2{
        padding: 0px 2px;
    }
    footer{
        width: 80%;
        margin: auto;
        height: 10vh;
    }
    
}