@media (min-width : 650px) and (max-width:1000px){
.navibar{
    width: auto;
    height: 8vh;
    /* border: 2px dotted ; */
}
.navibar .image{
    width: 10%;
    /* width: auto; */

}
.navibar .submenu{
    width: 75%;
    
}
}
@media(max-width:650px){
    .navibar{
        width: auto;
        height: 8vh;
        /* border: 2px dashed; */
    }
    .navibar .image{
        width: 15%;
        /* width: auto; */
    }
    .navibar .submenu{
        display: none;
    }
    .navibar .icon{
        position: absolute;
        display:block;
        top: 22%;
        right: 5%;
        /* text-align: right; */
    }
     .menulist ul li{
        display: block;
        font-size: 22px;
        background-color: rgb(228, 233, 238);
        padding: 1% 0%;
        margin-left: 1.5%;
        font-weight: 700;


    }
    .menulist ul {
        display: none;
    }
    .menulist ul li:hover{
        color: rgb(39, 39, 206);
        text-decoration: underline;
        font-style: oblique;
    }
    
}