.main {
    width: 90%;
    height: 95vh;
    margin: auto;
    background-color: black;
    position: relative;
}

.slider-box {
    width: 80%;
    height: 84vh;
    /* transform: translate(0%,8%); */
    margin:auto;
    background-color: rgb(34, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0 !important;
    padding: 2% 0%;
    gap: 3%;

}
.mainimage {
    width: 80%;
    height: 70vh;
    margin: auto;
}
.mainimage img {
    width: 100%;
    height: 100%;
}
.sliderbar {
    width: auto;
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 1%;
    transition: transform 0.5s ease;

}
.slide {
    width: 160px;
    height: 10vh;
    /* border: 1px solid blue; */
    filter: brightness(0.5);
}
 .effect{
    transform: scale(1.15);
    /* margin: 0% 1.5%; */
    filter: brightness(1);
    border: 2px solid white;
}
.icon{
    position: absolute;
    bottom: 10%;
    font-size: 45px;
    cursor: pointer;
}
.icon-1 {
right:5% ;
}
.icon-2 {
    left: 5%;
}
.slide img{
    width: 100%;
    height: 100%;
}