h3{
    font-size: 30px;
}
u{
    font-size: 25px;
}
.text{
    font-size: 22px;
}
.text span{
    color: red;
}
.text h4{
    font-size: 22px;
    color: blueviolet;
}
body{
    background-image: url(https://st2.depositphotos.com/5052879/7493/i/450/depositphotos_74939513-stock-photo-blue-abstract-bokeh-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
p{

    font-size: 18px;
}